# ===========================
# IntelliJ IDEA
# ===========================

.idea/
*.iml
out/

# ===========================
# Gradle
# ===========================

.gradle/
build/

# ===========================
# Forge
# ===========================

run/
run-data/

# ===========================
# Logs
# ===========================

logs/
*.log

# ===========================
# Crash Reports
# ===========================

crash-reports/
hs_err_pid*
replay_pid*

# ===========================
# Java
# ===========================

*.class

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Environment
# ===========================

.env

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Eclipse
# ===========================

.classpath
.project
.settings/
bin/